:root{
    --primary-color: #00A4E5;
    --secondary-color: #777777;
    --text-color:#A4A4A4;
    --bg-color:#F6F6F6;
    --blue_color:#00425C;
    --aque-color:#DCECF3;
    --blace-color:#00212E;
    --danger-color:#FB3748;
    --gry_color:#8E8E8E
}